<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static" , filename = "css/styles.css")}}">
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="logo">
        <img src="/../static/images/icon.png" alt="icon">
        <h1>
            Go 2.0
        </h1>
    </div>
    {% block body %}{% endblock %}
    <div class="footer">
        <p>Developed by <a href="#">B.EL KHYATI</a> as a practical exploration of the Flask framework.</p>
    </div>
</body>
</html>